<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>BBEditDocumentType</key>
    <string>CodelessLanguageModule</string>
    <key>BBLMLanguageCode</key>
    <string>DOT</string>
    <key>BBLMLanguageDisplayName</key>
    <string>DOT</string>
    <key>BBLMSuffixMap</key>
    <array>
        <dict>
            <key>BBLMLanguageSuffix</key>
            <string>.dot</string>
        </dict>
    </array>
    <key>BBLMColorsSyntax</key>
    <true/>
    <key>BBLMScansFunctions</key>
    <true/>
    <key>BBLMSupportsTextCompletion</key>
    <true/>
    <key>BBLMKeywordList</key>
    <array>
        <string>assembly</string>
        <string>auto</string>
        <string>avg_dist</string>
        <string>b</string>
        <string>back</string>
        <string>bc</string>
        <string>BL</string>
        <string>bold</string>
        <string>both</string>
        <string>box</string>
        <string>box</string>
        <string>box3d</string>
        <string>BR</string>
        <string>breadthfirst</string>
        <string>BT</string>
        <string>c</string>
        <string>cds</string>
        <string>circle</string>
        <string>circuit</string>
        <string>clust</string>
        <string>component</string>
        <string>compress</string>
        <string>crow</string>
        <string>curve</string>
        <string>curved</string>
        <string>cylinder</string>
        <string>dashed</string>
        <string>diagonals</string>
        <string>diamond</string>
        <string>diamond</string>
        <string>digraph</string>
        <string>dot</string>
        <string>dotted</string>
        <string>doublecircle</string>
        <string>doubleoctagon</string>
        <string>edge</string>
        <string>edgesfirst</string>
        <string>egg</string>
        <string>ellipse</string>
        <string>epsf</string>
        <string>expand</string>
        <string>false</string>
        <string>fast</string>
        <string>fill</string>
        <string>filled</string>
        <string>fivepoverhang</string>
        <string>folder</string>
        <string>forward</string>
        <string>global</string>
        <string>graph_dist</string>
        <string>graph</string>
        <string>hexagon</string>
        <string>hier</string>
        <string>house</string>
        <string>icurve</string>
        <string>in</string>
        <string>insulator</string>
        <string>inv</string>
        <string>invhouse</string>
        <string>invis</string>
        <string>invtrapezium</string>
        <string>invtriangle</string>
        <string>ipsep</string>
        <string>KK</string>
        <string>l</string>
        <string>larrow</string>
        <string>LB</string>
        <string>lbox</string>
        <string>lcrow</string>
        <string>lcurve</string>
        <string>ldiamond</string>
        <string>licurve</string>
        <string>line</string>
        <string>linv</string>
        <string>lnormal</string>
        <string>local</string>
        <string>lpromoter</string>
        <string>LR</string>
        <string>LT</string>
        <string>ltee</string>
        <string>lvee</string>
        <string>major</string>
        <string>max</string>
        <string>maxent</string>
        <string>mc</string>
        <string>Mcircle</string>
        <string>Mdiamond</string>
        <string>mds</string>
        <string>min</string>
        <string>ml</string>
        <string>mr</string>
        <string>Msquare</string>
        <string>neato</string>
        <string>node</string>
        <string>nodesfirst</string>
        <string>none</string>
        <string>normal</string>
        <string>note</string>
        <string>noverhang</string>
        <string>obox</string>
        <string>octagon</string>
        <string>odiamond</string>
        <string>odot</string>
        <string>oinv</string>
        <string>olbox</string>
        <string>oldiamond</string>
        <string>olinv</string>
        <string>olnormal</string>
        <string>onormal</string>
        <string>orbox</string>
        <string>ordiamond</string>
        <string>orinv</string>
        <string>ornormal</string>
        <string>ortho_yx</string>
        <string>ortho</string>
        <string>orthoxy</string>
        <string>orthoyx</string>
        <string>out</string>
        <string>oval</string>
        <string>parallelogram</string>
        <string>pentagon</string>
        <string>plain</string>
        <string>plaintext</string>
        <string>point</string>
        <string>polygon</string>
        <string>polyline</string>
        <string>portho_xy</string>
        <string>portho_yx</string>
        <string>portho</string>
        <string>porthoxy</string>
        <string>power_dist</string>
        <string>primersite</string>
        <string>prism</string>
        <string>promoter</string>
        <string>proteasesite</string>
        <string>proteinstab</string>
        <string>r</string>
        <string>radial</string>
        <string>rarrow</string>
        <string>RB</string>
        <string>rbox</string>
        <string>rcrow</string>
        <string>rcurve</string>
        <string>rdiamond</string>
        <string>record</string>
        <string>rect</string>
        <string>rectangle</string>
        <string>restrictionsite</string>
        <string>ribosite</string>
        <string>ricurve</string>
        <string>rinv</string>
        <string>RL</string>
        <string>rnastab</string>
        <string>rng</string>
        <string>rnormal</string>
        <string>rounded</string>
        <string>rpromoter</string>
        <string>RT</string>
        <string>rtee</string>
        <string>rvee</string>
        <string>same</string>
        <string>scalexy</string>
        <string>septagon</string>
        <string>sgd</string>
        <string>shortpath</string>
        <string>signature</string>
        <string>sink</string>
        <string>solid</string>
        <string>source</string>
        <string>spline</string>
        <string>spring</string>
        <string>square</string>
        <string>star</string>
        <string>strict</string>
        <string>striped</string>
        <string>subgraph</string>
        <string>subset</string>
        <string>t</string>
        <string>tab</string>
        <string>tapered</string>
        <string>TB</string>
        <string>tc</string>
        <string>tee</string>
        <string>terminator</string>
        <string>threepoverhang</string>
        <string>TL</string>
        <string>TR</string>
        <string>trapezium</string>
        <string>triangle</string>
        <string>tripleoctagon</string>
        <string>true</string>
        <string>underline</string>
        <string>utr</string>
        <string>vee</string>
        <string>voronoi</string>
        <string>vpsc</string>
        <string>wedged</string>
    </array>
    <key>BBLMPredefinedNameList</key>
    <array>
        <string>_background</string>
        <string>area</string>
        <string>arrowhead</string>
        <string>arrowsize</string>
        <string>arrowtail</string>
        <string>bb</string>
        <string>bgcolor</string>
        <string>center</string>
        <string>charset</string>
        <string>class</string>
        <string>clusterrank</string>
        <string>color</string>
        <string>colorscheme</string>
        <string>comment</string>
        <string>compound</string>
        <string>concentrate</string>
        <string>constraint</string>
        <string>Damping</string>
        <string>decorate</string>
        <string>defaultdist</string>
        <string>dim</string>
        <string>dimen</string>
        <string>dir</string>
        <string>diredgeconstraints</string>
        <string>distortion</string>
        <string>dpi</string>
        <string>edgehref</string>
        <string>edgetarget</string>
        <string>edgetooltip</string>
        <string>edgeURL</string>
        <string>epsilon</string>
        <string>esep</string>
        <string>fillcolor</string>
        <string>fixedsize</string>
        <string>fontcolor</string>
        <string>fontname</string>
        <string>fontnames</string>
        <string>fontpath</string>
        <string>fontsize</string>
        <string>forcelabels</string>
        <string>gradientangle</string>
        <string>group</string>
        <string>head_lp</string>
        <string>headclip</string>
        <string>headhref</string>
        <string>headlabel</string>
        <string>headport</string>
        <string>headtarget</string>
        <string>headtooltip</string>
        <string>headURL</string>
        <string>height</string>
        <string>href</string>
        <string>id</string>
        <string>image</string>
        <string>imagepath</string>
        <string>imagepos</string>
        <string>imagescale</string>
        <string>inputscale</string>
        <string>K</string>
        <string>label_scheme</string>
        <string>label</string>
        <string>labelangle</string>
        <string>labeldistance</string>
        <string>labelfloat</string>
        <string>labelfontcolor</string>
        <string>labelfontname</string>
        <string>labelfontsize</string>
        <string>labelhref</string>
        <string>labeljust</string>
        <string>labelloc</string>
        <string>labeltarget</string>
        <string>labeltooltip</string>
        <string>labelURL</string>
        <string>landscape</string>
        <string>layer</string>
        <string>layerlistsep</string>
        <string>layers</string>
        <string>layerselect</string>
        <string>layersep</string>
        <string>layout</string>
        <string>len</string>
        <string>levels</string>
        <string>levelsgap</string>
        <string>lhead</string>
        <string>lheight</string>
        <string>lp</string>
        <string>ltail</string>
        <string>lwidth</string>
        <string>margin</string>
        <string>maxiter</string>
        <string>mclimit</string>
        <string>mindist</string>
        <string>minlen</string>
        <string>mode</string>
        <string>model</string>
        <string>mosek</string>
        <string>newrank</string>
        <string>nodesep</string>
        <string>nojustify</string>
        <string>normalize</string>
        <string>notranslate</string>
        <string>nslimit</string>
        <string>nslimit1</string>
        <string>ordering</string>
        <string>orientation</string>
        <string>outputorder</string>
        <string>overlap_scaling</string>
        <string>overlap_shrink</string>
        <string>overlap</string>
        <string>pack</string>
        <string>packmode</string>
        <string>pad</string>
        <string>page</string>
        <string>pagedir</string>
        <string>pencolor</string>
        <string>penwidth</string>
        <string>peripheries</string>
        <string>pin</string>
        <string>pos</string>
        <string>quadtree</string>
        <string>quantum</string>
        <string>rank</string>
        <string>rankdir</string>
        <string>ranksep</string>
        <string>ratio</string>
        <string>rects</string>
        <string>regular</string>
        <string>remincross</string>
        <string>repulsiveforce</string>
        <string>resolution</string>
        <string>root</string>
        <string>rotate</string>
        <string>rotation</string>
        <string>samehead</string>
        <string>sametail</string>
        <string>samplepoints</string>
        <string>scale</string>
        <string>searchsize</string>
        <string>sep</string>
        <string>shape</string>
        <string>shapefile</string>
        <string>showboxes</string>
        <string>sides</string>
        <string>size</string>
        <string>skew</string>
        <string>smoothing</string>
        <string>sortv</string>
        <string>splines</string>
        <string>start</string>
        <string>style</string>
        <string>stylesheet</string>
        <string>tail_lp</string>
        <string>tailclip</string>
        <string>tailhref</string>
        <string>taillabel</string>
        <string>tailport</string>
        <string>tailtarget</string>
        <string>tailtooltip</string>
        <string>tailURL</string>
        <string>target</string>
        <string>tooltip</string>
        <string>truecolor</string>
        <string>URL</string>
        <string>vertices</string>
        <string>viewport</string>
        <string>voro_margin</string>
        <string>weight</string>
        <string>width</string>
        <string>xdotversion</string>
        <string>xlabel</string>
        <string>xlp</string>
        <string>z</string>
    </array>
    <key>Language Features</key>
    <dict>
        <key>Identifier and Keyword Character Class</key>	
        <string>a-zA-Z0-9_</string>
        <key>Open Strings 1</key>	
        <string>"</string>
        <key>Close Strings 1</key>	
        <string>"</string>
    </dict>
    <key>BBLMCommentLineDefault</key>
    <string>//</string>
</dict>
</plist>
